<div class="google-page">
	<div class="google-header">
		<ul class="links">
			<li><a href="#">Почта</a></li>
			<li><a href="#">Картинки</a></li>
		</ul>
	</div>
	<div class="google-body">
		 <div class="google-body-logo">
		 	<span>G</span>
		 	<span>o</span>
		 	<span>o</span>
		 	<span>g</span>
		 	<span>l</span>
		 	<span>e</span>
		 </div>
		 <div class="google-body-input">
		 	<input type="text">
		 </div>
		 <div class="google-body-buttons">
		 	<button>Поиск в Google</button>
		 	<button>Мне повезёт!</button>
		 </div>
		 <div class="google-body-info">
		 	<span>Сервисы Google доступны на разных языках:</span> <a href="https://google.com.ua">українська</a>
		 </div>
	</div>
	<div class="google-footer">
		<ul class="links">
			<li><a href="#">Реклама</a></li>
			<li><a href="#">Для бизнеса</a></li>
			<li><a href="#">Всё о Google</a></li>
		</ul>
	</div>
</div>